.nav__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0 0 4px;
  font-size: 16px;
  color: #000;
}
.nav__link:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav__link {
    margin-bottom: 10px;
    color: #fff;
  }
  .nav__link:last-child {
    margin-bottom: 0;
  }
}
