.credentials__list {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.credentials__item {
  margin-bottom: 25px;
}

.credentials__item:last-child {
  margin-bottom: 0;
}

.credentials__label {
  display: flex;
  flex-direction: column;
}

.credentials__input {
  margin-top: 10px;
  padding: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
